:root {
	color-scheme: light dark;

	--color-blue: #049EF4;
	--text-color: #444;

	--font-size: 10pt;
	--line-height: 16px;

	--border-style: 1px solid #E8E8E8;
	--panel-width: 300px;
	--page-padding: 24px;
	--max-width: 760px;
	--icon-size: 20px;
}


@media (prefers-color-scheme: dark) {

	:root {
		--text-color: #bbb;

		--border-style: 1px solid #444;
	}

}

@font-face {
	font-family: 'Roboto Mono';
	src: local('Roboto Mono'), local('RobotoMono-Regular'), url('./files/RobotoMono-Regular.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local('Inter-Regular'), url("./files/Inter-Regular.woff2?v=3.6") format("woff2");
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: local('Inter-SemiBold'), url("./files/Inter-SemiBold.woff2?v=3.6") format("woff2");
}


code {
	margin-left: 4px;
	font-size: 10pt;
	line-height: calc(var(--line-height) - 1px);
	/*overflow: scroll;*/
	font-family: Consolas, "Courier New", monospace;
}

code.inline {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	background: #F5F5F5;
	margin: 0;
	font-family: Consolas, "Courier New", monospace;
}

code:not(.inline) {
	display: block;
	white-space: pre-wrap;
	/*overflow: auto;*/
	box-sizing: border-box;
	font-family: Consolas, "Courier New", monospace;
}

